.section {
  padding: 5rem 0;
  height: 100%;
}

@media (min-width: 768px) {
  .section {
    padding: 5rem 0;
  }
}

.menuIcon,
.serviceIcon {
  display: inline-grid;
  place-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 999px;
  background: color-mix(in oklab, var(--primary) 70%, white);
  color: var(--background);
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center;

  > * {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .serviceCard {
    min-height: 100%;
  }
}

.serviceTitle {
  margin: 0;
  color: var(--foreground);
}
